html, body {
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    background: url("../images/GolfCourse.jpg") no-repeat;
    background-size: cover;
}

.modal-background {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.modal-panel {
    background-color: #ffffff;
    border-radius: 4px;
    width: 300px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.content {
    display: flex;
    flex-direction: column;
    height: 95%;
    width: 80%;
    filter: blur(2px);
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: row;
    background-color: #dadfea;
    padding: 10px;
    justify-content: center;
}

.right {
    display: flex;
    justify-content: flex-start;
}

.column {
    display: flex;
    flex-direction: column;
    width: 35px;
    height: 20px;
    text-align: center;
}