html, body {
    width: 100%;
    height: 100%;
}

.modal-background {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.modal-panel {
    background-color: #ffffff;
    border-radius: 4px;
    width: 300px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.content {
    filter: blur(2px);
}

.card {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
    width: 50px;
}